h1 {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 40px;
   

}
h3 {color: #676788;

}
body {
    padding: 10pt;
    margin: 0 auto;
    align-content: center;
}

a {padding: 15px;}
p{
    background-color: orangered;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}